.App {
  text-align: center;
  background-color: #fcf7f9;
}

.layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 767px) {
  .layout {
    display: none;
  }

  .info {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .info {
    display: none;
  }
}

video::-webkit-media-controls {
  display: none !important;
}

video {
  pointer-events: none;
}

.camera-selfie {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #111;
  opacity: 0;
  cursor: pointer;
}